<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kanjeng.kangmas">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kanjeng"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kanjeng"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".atmb"  />
        <activity android:name=".payment"  />
        <activity android:name=".setting"  />
        <activity android:name=".atmb_hasil"  />
        <activity android:name=".payment_hasil" ></activity>
    </application>

</manifest>